<div class="row">
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Cours POO</h5>
              <a [routerLink]="'/courspoo'"><i class="fa fa-folder-open" aria-hidden="true"></i> Cliquez ici !</a>
          </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Cours Réseaux</h5>
              <a [routerLink]="'/reseau'"><i class="fa fa-folder-open" aria-hidden="true"></i> Cliquez ici !</a>
          </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Cours Info Générale</h5>
              <a [routerLink]="'/courspoo'"><i class="fa fa-folder-open" aria-hidden="true"></i> Cliquez ici !</a>
          </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Cours BDD</h5>
              <a [routerLink]="'/courspoo'"><i class="fa fa-folder-open" aria-hidden="true"></i> Cliquez ici !</a>
          </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Cours Algo</h5>
              <a [routerLink]="'/courspoo'"><i class="fa fa-folder-open" aria-hidden="true"></i> Cliquez ici !</a>
          </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Cours Info Indus</h5>
              <a [routerLink]="'/courspoo'"><i class="fa fa-folder-open" aria-hidden="true"></i> Cliquez ici !</a>
          </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Cours Electronic</h5>
              <a [routerLink]="'/courspoo'"><i class="fa fa-folder-open" aria-hidden="true"></i> Cliquez ici !</a>
          </div>
    </div>
</div>