<div class="container bg-dark py-5">
    <h1 class="display-5 fw-bold" style="color:#068FC2">Améliorez votre auto-formation avec EduSmart en informatique!</h1>
    <p class="col-md8 fs-4" style="color: white">Vous pouvez bénéficier des supports de cours et des évaluations en ligne.</p>
    <h4>Règles du Test:</h4>
    <ol style="color: white">
        <li><i class="fa fa-hand-o-right"></i>  Vous aurez un test de 9 questions.</li>
        <li><i class="fa fa-hand-o-right"></i>  Réponse correcte = +10 points.</li>
        <li><i class="fa fa-hand-o-right"></i>  Réponse incorrecte = -10 points.</li>
        <li><i class="fa fa-hand-o-right"></i>  Vous aurez 60sec pour chaque question.</li>
        <li><i class="fa fa-hand-o-right"></i>  En actualisant la page, le test sera refait.</li>
    </ol>
    <h1 style="font-family: cursive; text-align: center; color: white;">Bon courage !!</h1>
    <div class="name col-md-4 my-3">
        <label for="" style="color: white">Entrez votre nom complet:</label>
        <input #name type="text" class="form-control">
    </div>
    <button class="btn btn-lg" style=" background-color: #068FC2" routerLink="/questions" (click)="startQuiz()">Commencer le test général</button>
</div>
